{{>partials/header}}

<fieldset>
    <form method="POST" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Digite seu nome" /><br/>
        <input type="text" name="lastName" placeholder="Digite seu sobrenome" /><br/>
        <input type="email" name="email" placeholder="Digite seu e-mail" /><br/>
        <input type="text" name="age" placeholder="Digite sua idade" /><br/>
        <input type="text" name="interests" placeholder="Digite seus interesses (separados por virgula)" /><br/>
        <input type="submit" name="enviar" value="Cadastrar" /><br/>
    </form>
</fieldset>



<hr/>

<ul>
    {{#users}}
        <li>{{name.firstName}} {{name.lastName}} - {{age}} anos</li>
    {{/users}}
    {{^users}}
        Não há usuários cadastrados
    {{/users}}
</ul>

{{>partials/footer}}